/* root */
:root  {
--clr-primary-red: #ff5c5c;

--clr-neutral-very-dark-blue: #242942;
--clr-neutral-white: #ffffff;
--clr-neutral-dark-grayish-blue: #5b5f71;
--clr-neutral-grayish-blue: #a0a1ac;
--clr-neutral-light-grayish-blue: #eef3f6;

--ff-heading: 'Barlow Condensed', sans-serif;
--ff-body: 'Barlow', sans-serif;

--fw-400: 400;
--fw-700: 700;

--fz-400: 1.125rem;
}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
}


/* general styles */

body {
    width: minmax(100%, 1440px);
    padding: 0 1.75rem;
    font-size: var(--fz-400);
    font-weight: var(--fw-400);
    font-family: var(--ff-body);
    color: var(--clr-neutral-dark-grayish-blue);
    background: var(--clr-neutral-white);
}


/* helper styles */

.split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* layout styles */

.navigation {
    padding: 2rem 0;
}

.menu-list {
    flex-direction: column;
    justify-content: initial;
    position: absolute;
    translate: -50% 10px;
    width: max-content;
    background: var(--clr-neutral-white);
    box-shadow: 0 2px 5px rgba(0,0, 0, .3);
}




/* component styles */ 

.hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .45rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

.icon-bar {
    width: 26px;
    height: 2px;
    background-color: var(--clr-neutral-very-dark-blue);
    transition: transform .3s ease, opacity .3s ease;
}


.hamburger-button.active .icon-bar:nth-child(1) {
    transform: translate(0, 10px) rotate(45deg);
}
  
.hamburger-button.active .icon-bar:nth-child(2) {
    opacity: 0;
}
  
.hamburger-button.active .icon-bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
}


