/* root */

:root {
    
    --clr-primary-red: #ff5c5c;
    --clr-neutral-very-dark-blue: #242942;
    --clr-neutral-dark-grayish-blue: #5b5f71;
    --clr-neutral-grayish-blue: #a0a1ac;
    --clr-neutral-light-grayish-blue: #eef3f6;

    --ff-title: 'Barlow condensed', sans-serif;
    --ff-paragraph: 'Barlow', sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-400: 1.125rem;
    --fs-700: 4rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
    color: var(--clr-primary-very-dark-blue-headings);
}

a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-primary-red);
    background-repeat: no-repeat;
    background-size: cover;
}


/* general styles */

body::before {
    content: '';
    width: 50%;
    height: 55dvh;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    background-color: var(--clr-neutral-light-grayish-blue);
    border-bottom-left-radius: 5rem;
}

body {
    width: minmax(100%, 1440px);
    font-family: var(--ff-paragraph);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-dark-grayish-blue);
    line-height: 1.6;
    background: #fff;
    overflow: clip;
 }

 .size {
    width: 80%;
    margin-inline: auto;
 }

 .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80dvh;
}


/* typography */

.title {
    font-family: var(--ff-title);
    text-transform: uppercase;
    color: var(--clr-neutral-very-dark-blue);
}

.section-title {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    letter-spacing: 3px;
    color: var(--clr-neutral-grayish-blue);
}

.section-title span {
    display: inline-block;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-light-grayish-blue);
    background-color: var(--clr-neutral-very-dark-blue);
    padding: .3rem .7rem;
    margin-right: .8rem;
    border-radius: 999px;
}

.section-subtitle {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
}

.section-description {
    width: 50%;
}

.nav-menu-list--item a {
    color: var(--clr-neutral-very-dark-blue);
    font-weight: var(--fw-700);
    font-family: var(--ff-title);
}

.nav-menu-list > *:nth-child(5) a {
    color: var(--clr-neutral-grayish-blue);
}


/* utility classes */

.split {
    display: flex;
    align-items: center;
}

.spacer * + * {
    margin-top: 1.5rem;
}


/* components */ 

.section-buttons {
    display: inline-block;
    margin-top: 2em;
}

.section-buttons a {
    font-size: 16px;
    font-family: var(--ff-title);
    color: var(--clr-neutral-grayish-blue);
    letter-spacing: 2px;
}

.section-buttons > *:nth-child(1) {
    color: var(--clr-neutral-light-grayish-blue);
    font-weight: var(--fw-700);
    padding:  .8em 2em;
    margin-right: 1em;
    border-radius: 4px;
    background-color: var(--clr-primary-red);
}

.illustration-image {
    scale: 150%;
    translate: 9rem 0;
}

.hamburger-menu {
    display: none;  
}


/* general layout */

.navigation {
    margin-top: 4rem;
    justify-content: space-between;
}

.nav-menu-list {
    gap: 2em;
}

.nav-menu-list > *:nth-child(5) a {
    margin-left: 2rem;
    position: relative;
}

.nav-menu-list > *:nth-child(5) a::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: .5em;
    left: -2.2em;
    background-color: var(--clr-neutral-grayish-blue);
}

hr {
    display: none;
}


/* media query */

@media (max-width: 68.75em) {
    :root {
        --fs-700: 3rem;   
    }

    .section-description {
        width: 90%;
    }
}

@media (max-width: 50rem) {
    :root {
        --fs-700: 2.5rem;   
    }

    .wrapper {
        flex-direction: column-reverse;
        gap: 2em;
        height: auto;
    }

    .illustration-image {
        scale: 130%;
        translate: 1.5em 0;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    .navigation {
        position: relative;
    }

    .container {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    hr {
        display: block;
        width: 100%;
        border: 1px solid var(--clr-neutral-grayish-blue);
    }

    .nav-menu-list {
        position: absolute;
        flex-direction: column;
        top: 3em;
        right: 0;
        padding: 1.5em;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,.3);
        opacity: 0;
        transition: opacity .3s ease;
        z-index: -2;
    }

    .nav-menu-list.active {
        width: 100%;
        opacity: 100%;
        z-index: 2;
    }

    .nav-menu-list > *:nth-child(5) a {
        margin-left: 0;
    }

    .nav-menu-list.active > *:nth-child(5) a::before {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: relative;
    }

    .hamburger-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .4rem;
        cursor: pointer;
    }

    .line {
        content: '';
        width: 30px;
        height: 2px;
        background-color: var(--clr-neutral-very-dark-blue);
        transition: rotate .3s ease, width .3s ease;
    }

    .hamburger-button.active :nth-child(1){
        width: 0;
    }

    .hamburger-button.active :nth-child(2){
        rotate: 45deg;
    }

    .hamburger-button.active :nth-child(3){
        rotate: -45deg;
        translate: 0 -7.5px;
    }

    .section-buttons {
        text-align: center;
    }
}