/* root */

:root {
    
    --clr-primary-red: #ff5c5c;
    --clr-neutral-very-dark-blue: #242942;
    --clr-neutral-dark-grayish-blue: #5b5f71;
    --clr-neutral-grayish-blue: #a0a1ac;
    --clr-neutral-light-grayish-blue: #eef3f6;

    --ff-title: 'Barlow condensed', sans-serif;
    --ff-paragraph: 'Barlow', sans-serif;

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-700: 2.5rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
    color: var(--clr-primary-very-dark-blue-headings);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-primary-red);
    background-repeat: no-repeat;
    background-size: cover;
}


/* general styles */

body {
    width: minmax(100%, 1440px);
    font-family: var(--ff-paragraph);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-dark-grayish-blue);
    line-height: 1.6;
    background: #fff;
 }

input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

 
 /* utility classes */
.split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transform {
    text-transform: uppercase;
    font-family: var(--ff-title);
}

.spacer * + * {
    margin-top: 1.25rem;
}

/* typography */

.section-title {
    font-family: var(--ff-title);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-grayish-blue);
    letter-spacing: 3px;
}

.section-title span {
    display: inline-block;
    text-align: center;
    color: var(--clr-neutral-light-grayish-blue);
    background: var(--clr-neutral-very-dark-blue);
    padding: .4rem .6rem;
    margin-right: 1rem;
    border-radius: 999px;
}

.section-subtitle {
    font-size: var(--fs-700);
    color: var(--clr-neutral-very-dark-blue);
}

.nav-link--item a {
    display: block;
    color: var(--clr-neutral-very-dark-blue);
    font-weight: var(--fw-700);
    font-family: var(--ff-title);
    text-align: center;
}

.nav-link--item:last-child a {
    padding-top: 1rem;
    color: var(--clr-neutral-grayish-blue);
    border-top: 1.5px solid var(--clr-neutral-grayish-blue);
}


/* components */

.section-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: var(--ff-title);
    font-weight: var(--fw-700);
    font-size: 15px;
    color: var(--clr-neutral-light-grayish-blue);
    letter-spacing: 1px;
    background: var(--clr-primary-red);
    padding: .5rem .6rem;
    border-radius: 4px;
}

.section-btns > *:nth-child(2) {
    background: none;
    font-weight: var(--fw-400);
    color: var(--clr-neutral-grayish-blue);
    margin: 0;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
}

header::before {
    content: '';
    width: 50%;
    height: 55dvh;
    background: var(--clr-neutral-light-grayish-blue);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 3em;
    z-index: -1;
}

.hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
}

.hamburger-button::before,
.hamburger-button::after,
.hamburger-button input {
    content: '';
    width: 28px;
    height: 2px;
    background-color: var(--clr-neutral-very-dark-blue);
    transition: opacity .3s ease, rotate .3s ease, translate .3s ease;
}

.hamburger-button input:checked {
    opacity: 0;
    
}

.hamburger-button:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 9px;
}

.hamburger-button:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 -10px;
}

.nav-links {
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    padding: 1.5rem;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 4rem;

    display: grid;
    grid-template-rows: 0fr;
    z-index: -5;
    opacity: 0;
}

.nav-links > * + * {
    margin-top: 1rem;
}

/* general layout */

.container {
    width: 90%;
    margin-inline: auto;
    flex-direction: column-reverse;
    gap: 5em;
}

main > .container {
    padding: 5rem 0;
}

.container--nav {
    padding-top: 2.5rem;
}

main {
    overflow: hidden;
}

.illustration-devices {
    scale: 120%;
    translate: 4rem 0;
}


/* media query */
@media (min-width: 50em) {

    :root {
        --fs-300: 1rem;
        --fs-400: 1.125rem;
        --fs-700: 3.125rem;  
    } 

    .container {
        width: 75%;
        gap: 2rem;
    }

    .container--nav {
        padding-top: 4rem;
    }

    main > .container {
        flex-direction: row;
        padding: 7rem 0;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 2.5rem;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-links--item > .spacer * + * {
        margin-top: 0 !important;
    }
    
    .nav-link--item:last-child a {
        padding-top: 0;
        border: none;
        position: relative;
        margin-left: 4rem;
    }

    .nav-link--item:last-child a::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--clr-neutral-grayish-blue);
        position: absolute;
        translate: -3.5rem 12px;
    }

    .illustration-devices {
        scale: 250%;
        translate: 15rem 0;
    }

    /* typography */

    main > .container:nth-child(1) {
        flex-basis: 20%;
    }
    
    main > .container:nth-child(2) {
        flex-basis: 20%;
    }

    .section-desc {
        width: 70%;
    }
}

@media (min-width: 58.5em) {
    .illustration-devices {
        scale: 180%;
        translate: 15rem 0;
    }

    .spacer * + * {
        margin-top: 1.5rem;
    }
}

@media (min-width: 71.625em) {
    .illustration-devices {
        scale: 150%;
        translate: 15rem 0;
    }
 
    main > .container {
        padding: 8rem 0;
    }
}